@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap');
:root {
    --main-color: #191F3A;
    --sub-color: #EAA023;
    --text-color: #fff;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.btn {
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid var(--sub-color);
    border-radius: 50px;
    color: var(--sub-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: #fff;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.section-pading {
    padding: 80px 0;
}

.container {
    max-width: 1200px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.top {
    background-color: var(--main-color);
    position: fixed;
    width: 100vw;
    z-index: 99;
}

.header{
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}
.logo  {
    position: fixed;
    right: 70px;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 40px;
    color: var(--text-color);
}
.logout-logo {
    position: fixed;
    right: 20px;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}

.logout-logo a,
.logo a{
    color: var(--sub-color);
}

.menu-items{
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: var(--main-color);
    left: 0;
    top: 0;
    padding: 100px 25px;
}
.menu-items.active {
    transform: translateX(0);
}
.menu-items a {
    color:var(--text-color) ;
    line-height: 40px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.menu-items a:hover{
    background-color: #6d7495;
}
/* big image */
.big-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
.big-image::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/DebtSystem/assets/image/backgroundLogin.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: Inout 5s infinite;
}
@keyframes Inout {
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
.big-image::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -2;
}
.big-image .big-image-content {
    text-align: center;
    max-width: 500px;
}
.big-image .big-image-content h2 {
    font-size: 50px;
    color: var(--text-color);
    font-family: 'Dancing Script', cursive;
}
.big-image .big-image-content p {
    font-size: 25px;
    color: var(--text-color);
    font-weight: bold;
    margin: 15px 0;
}
/* about */
.about{
    background-color: var(--main-color);
}
.section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 150px;
}
.section-title h2 {
    font-size: 40px;
    color: var(--text-color);  
    text-transform: uppercase;
    margin-left: 250px;
}
.section-title h2::before {
    content: attr(data-title);
    display: block;
    color: var(--sub-color);
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
.about .about-item h2 {
    color: var(--text-color);
    font-size: 35px;
    margin-left: 250px;
}
.about .about-item p {
    font-size: 18px;
    margin: 15px 0 30px;
    color: var(--text-color);
    margin-left: 250px;
}
.about .about-item img {
    width: 100%;
    border-radius: 10px;
    margin-left: 150px;
}
.about-item {
    width: calc(100%/2);
    padding: 15px;
}
.about-item-img {
    position: relative;
}
.about-item-img span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--text-color);
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 35px;
    transform: translate(-50%,-50%);
}
.about-item-img::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border: 3px solid var(--sub-color);
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    animation: xoay 5s infinite;
}
@keyframes xoay{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* Member */
/* .member{
    background-color: ;
} */
.member-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 200px;
}
.member-item {
    width: calc(100%/5 - 30px);
    margin: 0 15px;
    border: 2px solid red;
    box-shadow: 10px 10px rgb(210, 206, 206);
}
.member-item h2{
    font-size: 20px;
    color: #EAA023;

}
.member-item p {
    color: gold;
    font-size: 17px;
    margin: 20px 0;
}
.member-item img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
}
.member-item-content{
    justify-content: space-between;
    align-items: center;
}